/data/

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

.ipynb_checkpoints/

/models/**/*.history.csv
/models/**/*.test_predictions.csv
/models/ecg_experiments/
/models/five_fold_cross_validation/
/models/ecg_loss_comparison/
/tests
